html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #191919;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.header__img {
  width: 150px;
  height: 150px;
}

.footer__logo {
  width: 150px;
  height: 150px;
}